---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: simplyblocktasks.simplyblock.simplyblock.io
spec:
  group: simplyblock.simplyblock.io
  names:
    kind: SimplyBlockTask
    listKind: SimplyBlockTaskList
    plural: simplyblocktasks
    singular: simplyblocktask
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SimplyBlockTask is the Schema for the simplyblocktasks API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of SimplyBlockTask
            properties:
              clusterName:
                type: string
              subtasks:
                type: boolean
              taskID:
                type: string
            required:
            - clusterName
            type: object
          status:
            description: status defines the observed state of SimplyBlockTask
            properties:
              tasks:
                items:
                  properties:
                    canceled:
                      type: boolean
                    parentTask:
                      type: string
                    retried:
                      format: int32
                      type: integer
                    startedAt:
                      format: date-time
                      type: string
                    taskResult:
                      type: string
                    taskStatus:
                      type: string
                    taskType:
                      type: string
                    uuid:
                      type: string
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
