# SPDX-License-Identifier: Apache-2.0
# Copyright (c) Arm Limited and Contributors
# Copyright (c) Intel Corporation
---
driverName: csi.simplyblock.io

image:
  csi:
    repository: simplyblock/spdkcsi
    tag: v0.1.8
    pullPolicy: Always
  csiProvisioner:
    repository: registry.k8s.io/sig-storage/csi-provisioner
    tag: v4.0.1
    pullPolicy: Always
  csiAttacher:
    repository: gcr.io/k8s-staging-sig-storage/csi-attacher
    tag: v4.5.1
    pullPolicy: Always
  nodeDriverRegistrar:
    repository: registry.k8s.io/sig-storage/csi-node-driver-registrar
    tag: v2.10.1
    pullPolicy: Always
  csiSnapshotter:
    repository: registry.k8s.io/sig-storage/csi-snapshotter
    tag: v8.2.0
    pullPolicy: Always
  csiResizer:
    repository: gcr.io/k8s-staging-sig-storage/csi-resizer
    tag: v1.10.1
    pullPolicy: Always
  csiHealthMonitor:
    repository: gcr.io/k8s-staging-sig-storage/csi-external-health-monitor-controller
    tag: v0.11.0
    pullPolicy: Always
  csiSnapshotterController:
    repository: registry.k8s.io/sig-storage/snapshot-controller
    tag: v8.2.0
    pullPolicy: Always
  simplyblock:
    repository: public.ecr.aws/simply-block/simplyblock
    tag: "25.10.4"
    pullPolicy: Always
  storageNode:
    repository: simplyblock/storage-node-handler
    tag: v0.1.6
    pullPolicy: Always
  cachingNode:
    repository: simplyblock/caching-node-handler
    tag: v0.1.0
    pullPolicy: Always
  mgmtAPI:
    repository: python
    tag: "3.10"
    pullPolicy: Always
serviceAccount:
  # Specifies whether a serviceAccount should be created
  create: true

rbac:
  # Specifies whether RBAC resources should be created
  create: true

controller:
  replicas: 1
  tolerations:
    create: false
    list:
    - operator: Exists
      effect:
      key: 
      value:
  nodeSelector:
    create: false
    key: 
    value:

storageclass:
  create: true
  volumeBindingMode: WaitForFirstConsumer
  zoneClusterMap: {}
  allowedTopologyZones: []

snapshotclass:
  create: true

snapshotcontroller:
  create: true

externallyManagedConfigmap:
  # Specifies whether a externallyManagedConfigmap should be created
  create: true

externallyManagedSecret:
  # Specifies whether a externallyManagedSecret should be created
  create: true

spdkdev:
  # Specifies whether a spdkdev should be created
  create: false

# Configuration for the CSI to connect to the cluster
csiConfig:
  simplybk:
    uuid: 963c9d0a-4506-43c3-a722-0b7c8b157038
    ip: https://o5ls1ykzbb.execute-api.eu-central-1.amazonaws.com

# Configuration for the csiSecret
csiSecret:
  simplybk:
    secret: 2BAbQTPEDi4o73VHymg2
  simplybkPvc:
    crypto_key1: N2IzNjk1MjY4ZTJhNjYxMWEyNWFjNGIxZWUxNWYyN2Y5YmY2ZWE5NzgzZGFkYTY2YTRhNzMwZWJmMDQ5MmJmZA==
    crypto_key2: Nzg1MDU2MzZjODEzM2Q5YmU0MmUzNDdmODI3ODViODFhODc5Y2Q4MTMzMDQ2ZjhmYzBiMzZmMTdiMDc4YWQwYw==

logicalVolume:
  pool_name: testing1
  qos_rw_iops: "0"
  qos_rw_mbytes: "0"
  qos_r_mbytes: "0"
  qos_w_mbytes: "0"
  max_size: "0"
  compression: "False"
  encryption: "False"
  numDataChunks: "1"
  numParityChunks: "1"
  lvol_priority_class: "0"
  max_namespace_per_subsys: "1"
  tune2fs_reserved_blocks: "0"
  fabric: tcp

podAnnotations: {}

# SimplyBlock Daemonset, Deployment, Statefulset annotations
simplyBlockAnnotations: {}

benchmarks: 0

# FIXME: this will not work if there are group of nodes with different AMI types like: AL2, AL2023
# AL2_x86_64: eth0
# AL2023_x86_64_STANDARD: ens5

# not recommended to use it in production, use it only for testing purposes
# automatic cluster activate is disabled by default because of core isolation
# set this to true if you want to activate the cluster automatically after the NDCS + NPCS + 1 storage nodes ares up and running.
autoClusterActivate: false 

node:
  tolerations:
    create: false
    list:
    - operator: Exists
      effect:
      key: 
      value:
  nodeSelector:
    create: false
    key: 
    value:

cachingnode:
  create: false
  nodeSelector:
    key: type
    value: simplyblock-cache
  ifname: eth0
  cpuMask: 
  spdkMem:
  spdkImage: 
  multipathing: true
  tolerations:
    create: false
    list:
    - operator: Exists
      effect:
      key: 
      value:

storagenode:
  create: false
  ifname: eth0
  numDataChunks: "1"
  numParityChunks: "1"
  spdkImage:
  maxLogicalVolumes: 10
  maxSnapshots: 10
  maxSize:
  numPartitions: 1
  isolateCores: false
  haJMCount:
  dataNics:
  pciAllowed:
  pciBlocked:
  deviceNames:
  format4k: true
  socketsToUse: 
  nodesPerSocket:
  deviceModel:
  sizeRange:
  coresPercentage:
  ubuntuHost: false
  openShiftCluster: false
  multiCluster:
    enable: false
    clusters:
    - cluster_id: 
      secret:
      workers:
  daemonsets:
  - name: simplyblock-storage-node-ds
    appLabel: storage-node
    nodeSelector:
      key: io.simplyblock.node-type
      value: simplyblock-storage-plane
    tolerations:
      create: false
      list:
      - operator: Exists
        effect:
        key: 
        value:
  - name: simplyblock-storage-node-ds-restart
    appLabel: storage-node-restart
    nodeSelector:
      key: io.simplyblock.node-type
      value: simplyblock-storage-plane-restart
    tolerations:
      create: false
      list:
      - operator: Exists
        effect:
        key: 
        value:
      
