# SPDX-License-Identifier: Apache-2.0
# Copyright (c) Arm Limited and Contributors
# Copyright (c) Intel Corporation
---
driverName: csi.simplyblock.io

image:
  csi:
    repository: simplyblock/spdkcsi
    tag: v0.1.8
    pullPolicy: Always
  csiProvisioner:
    repository: registry.k8s.io/sig-storage/csi-provisioner
    tag: v4.0.1
    pullPolicy: Always
  csiAttacher:
    repository: gcr.io/k8s-staging-sig-storage/csi-attacher
    tag: v4.5.1
    pullPolicy: Always
  nodeDriverRegistrar:
    repository: registry.k8s.io/sig-storage/csi-node-driver-registrar
    tag: v2.10.1
    pullPolicy: Always
  csiSnapshotter:
    repository: registry.k8s.io/sig-storage/csi-snapshotter
    tag: v8.2.0
    pullPolicy: Always
  csiResizer:
    repository: gcr.io/k8s-staging-sig-storage/csi-resizer
    tag: v1.10.1
    pullPolicy: Always
  csiHealthMonitor:
    repository: gcr.io/k8s-staging-sig-storage/csi-external-health-monitor-controller
    tag: v0.11.0
    pullPolicy: Always
  csiSnapshotterController:
    repository: registry.k8s.io/sig-storage/snapshot-controller
    tag: v8.2.0
    pullPolicy: Always
  simplyblock:
    repository: public.ecr.aws/simply-block/simplyblock
    tag: "improved_user_experience" #"25.10.4"
    pullPolicy: Always
  storageNode:
    repository: simplyblock/storage-node-handler
    tag: v0.1.6
    pullPolicy: Always
  operator:
    repository: simplyblock/simplyblock-manager
    tag: remove_cr_object_finalizers
    pullPolicy: Always
  mgmtAPI:
    repository: python
    tag: "3.10"
    pullPolicy: Always
serviceAccount:
  # Specifies whether a serviceAccount should be created
  create: true

rbac:
  # Specifies whether RBAC resources should be created
  create: true

controller:
  replicas: 1
  tolerations:
    create: false
    list:
    - operator: Exists
      effect:
      key: 
      value:
  nodeSelector:
    create: false
    key: 
    value:

storageclass:
  create: false
  volumeBindingMode: WaitForFirstConsumer
  zoneClusterMap: {}
  allowedTopologyZones: []

snapshotclass:
  create: true

snapshotcontroller:
  create: true

externallyManagedConfigmap:
  # Specifies whether a externallyManagedConfigmap should be created
  create: true

externallyManagedSecret:
  # Specifies whether a externallyManagedSecret should be created
  create: true

spdkdev:
  # Specifies whether a spdkdev should be created
  create: false

# Configuration for the CSI to connect to the cluster
csiConfig:
  simplybk:
    uuid:
    ip:

# Configuration for the csiSecret
csiSecret:
  simplybk:
    secret:
  simplybkPvc:
    crypto_key1: N2IzNjk1MjY4ZTJhNjYxMWEyNWFjNGIxZWUxNWYyN2Y5YmY2ZWE5NzgzZGFkYTY2YTRhNzMwZWJmMDQ5MmJmZA==
    crypto_key2: Nzg1MDU2MzZjODEzM2Q5YmU0MmUzNDdmODI3ODViODFhODc5Y2Q4MTMzMDQ2ZjhmYzBiMzZmMTdiMDc4YWQwYw==

logicalVolume:
  pool_name: testing1
  qos_rw_iops: "0"
  qos_rw_mbytes: "0"
  qos_r_mbytes: "0"
  qos_w_mbytes: "0"
  max_size: "0"
  compression: "False"
  encryption: "False"
  numDataChunks: "1"
  numParityChunks: "1"
  lvol_priority_class: "0"
  max_namespace_per_subsys: "1"
  tune2fs_reserved_blocks: "0"
  fabric: tcp

podAnnotations: {}

# SimplyBlock Daemonset, Deployment, Statefulset annotations
simplyBlockAnnotations: {}

benchmarks: 0

# FIXME: this will not work if there are group of nodes with different AMI types like: AL2, AL2023
# AL2_x86_64: eth0
# AL2023_x86_64_STANDARD: ens5

# not recommended to use it in production, use it only for testing purposes
# automatic cluster activate is disabled by default because of core isolation
# set this to true if you want to activate the cluster automatically after the NDCS + NPCS + 1 storage nodes ares up and running.
autoClusterActivate: false 

node:
  tolerations:
    create: false
    list:
    - operator: Exists
      effect:
      key: 
      value:
  nodeSelector:
    create: false
    key: 
    value:

storagenode:
  create: false
  ifname: eth0
  numDataChunks: "1"
  numParityChunks: "1"
  spdkImage:
  maxLogicalVolumes: 10
  maxSnapshots: 10
  maxSize:
  numPartitions: 1
  isolateCores: false
  haJMCount:
  dataNics:
  pciAllowed:
  pciBlocked:
  socketsToUse: 
  nodesPerSocket:
  deviceModel:
  sizeRange:
  coresPercentage:
  ubuntuHost: false
  openShiftCluster: false
  daemonsets:
  - name: simplyblock-storage-node-ds
    appLabel: storage-node
    nodeSelector:
      key: io.simplyblock.node-type
      value: simplyblock-storage-plane
    tolerations:
      create: false
      list:
      - operator: Exists
        effect:
        key: 
        value:
  - name: simplyblock-storage-node-ds-restart
    appLabel: storage-node-restart
    nodeSelector:
      key: io.simplyblock.node-type
      value: simplyblock-storage-plane-restart
    tolerations:
      create: false
      list:
      - operator: Exists
        effect:
        key: 
        value:
      

controlplane:
  enabled: true
  observability:
    enabled: false
    secret: "sWbpOgba1bKnCfcPkVQi"
    deletionInterval: "3d"
    level: "DEBUG"
    graylog:
      rootPasswordSha2: "b87c15a8ae4736d771ca60a7cc2014baaeab19b11c31f5fedef9421958a403c9"
      passwordSecret: "is6SP2EdWg0NdmVGv6CEp5hRHNL7BKVMFem4t9pouMqDQnHwXMSomas1qcbKSt5yISr8eBHv4Y7Dbswhyz84Ut0TW6kqsiPs"
      maxNumberIndex: "3"
      retentionPeriod: "7d"
    grafana:
      endpoint: ""
      contactPoint: ""

  ports:
    lvolNvmfPortStart: 9100

  storageclass:  
    allowedTopologyZones: []

  foundationdb:
    multiAZ: false

operator:
  enabled: true
  cluster:
    clusterName: simplyblock-cluster
    mgmtIfc: eth0
    fabric: tcp

    enableNodeAffinity: false
    stripeWdata: 1
    stripeWparity: 1
    haType:
    isSingleNode: false
    strictNodeAntiAffinity: false

    qpairCount:
    distrBs:
    distrChunkBs:
    blkSize:
    pageSizeInBlocks:
    maxQueueSize:
    inflightIOThreshold:
    clientQpairCount:

    qosClasses:
    capWarn:
    capCrit:
    provCapWarn:
    provCapCrit:

  pool:
    name: simplyblock-pool
    capacityLimit: 
    qosIOPSLimit: 
    rwLimit:
    rLimit:
    wLimit:

  lvol:
    name: simplyblock-lvol
    
  storageNodes:
    name: simplyblock-node
    spdkImage: ""
    mgmtIfc: eth0
    maxLVol: 10
    maxSize: 150G
    partitions: 0
    corePercentage: 65
    jmPercent: 30
    spdkDebug: false
    coreIsolation: false
    workerNodes:
      - vm02.simplyblock3.localdomain
      - vm03.simplyblock3.localdomain
      - vm04.simplyblock3.localdomain
    haJM: false
    idDeviceByNQN: false
    coreMask: 
    pcieAllowList: []
    pcieDenyList: []
    pcieModel:
    driveSizeRange:
    socketsToUse: 
    nodesPerSocket: 
    dataNIC: []
    haJmCount:
    openShiftCluster: false
    tolerations:
      create: true
      list:
      - operator: Exists
        effect:
        key: 
        value:

  devices:
    name: simplyblock-devices

  tasks:
    name: simplyblock-task

mongodb:
  name: "simplyblock-mongodb"
  deployment_name: "simplyblock-mongodb"
  resources:
    requests:
      cpu: 100m
      memory: 300Mi
    limits:
      cpu: 250m
      memory: 1Gi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/component
                operator: In
                values:
                  - mongodb
          topologyKey: "kubernetes.io/hostname"

opensearch:
  fullnameOverride: "simplyblock-opensearch"
  singleNode: true
  replicas: 1

  antiAffinity: "hard"
  persistence:
    enabled: true
    storageClass: local-hostpath
    size: 20Gi

  resources:
    requests:
      cpu: "100m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "3Gi"

  extraEnvs:
    - name: OPENSEARCH_JAVA_OPTS
      value: "-Xms1g -Xmx1g"
    - name: bootstrap.memory_lock
      value: "true"
    - name: action.auto_create_index
      value: "false"
    - name: plugins.security.ssl.http.enabled
      value: "false"
    - name: plugins.security.disabled
      value: "true"

  securityConfig:
    enabled: false

prometheus:
  server:
    fullnameOverride: simplyblock-prometheus
    enabled: true
    statefulSet:
      enabled: true
    name: simplyblock-prometheus
    replicaCount: 1
    podLabels:
      app: simplyblock-prometheus
    podAnnotations:
      log-collector/enabled: "true"
      reloader.stakater.com/auto: "true"
      reloader.stakater.com/configmap: "sbcli-simplyblock-prometheus-config"
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - simplyblock-prometheus
            topologyKey: "kubernetes.io/hostname"
    service:
      servicePort: 9090
      type: ClusterIP
      gRPC:
        enabled: true
        servicePort: 10901
      additionalPorts:
        - name: http-thanos
          port: 10902
          targetPort: 10902
          protocol: TCP
    securityContext:
      fsGroup: 65534
    persistentVolume:
      enabled: true
      size: 5Gi
      storageClass: local-hostpath
    extraArgs:
      storage.tsdb.min-block-duration: 2h
      storage.tsdb.max-block-duration: 2h
    sidecarContainers:
      thanos-sidecar:
        image: thanosio/thanos:v0.31.0
        args:
          - sidecar
          - --tsdb.path=/prometheus
          - --prometheus.url=http://localhost:9090
          - --objstore.config-file=/etc/thanos/objstore.yml
        ports:
          - name: grpc
            containerPort: 10901
          - name: http
            containerPort: 10902
        volumeMounts:
          - name: storage-volume
            mountPath: /prometheus
          - name: objstore-config
            mountPath: /etc/thanos
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "250m"
            memory: "1Gi"
    resources:
      requests:
        cpu: "100m"
        memory: "512Mi"
      limits:
        cpu: "500m"
        memory: "1Gi"
    configMapOverrideName: simplyblock-prometheus-config
    extraVolumes:
      - name: objstore-config
        configMap:
          name: simplyblock-objstore-config
  alertmanager:
    enabled: false

  prometheus-pushgateway:
    enabled: false

  prometheus-node-exporter:
    enabled: false

  kube-state-metrics:
    enabled: false
