apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: tasks.simplyblock.com
spec:
  group: simplyblock.com
  scope: Namespaced
  names:
    plural: tasks
    singular: task
    kind: Rackup
    shortNames:
      - tsk
  action: "cancel"
  versions:
    - name: 25.11.1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                clusterUUID:
                  type: string
                  description: "UUID of the cluster these tasks belongs too"
                taskID:
                  type: string
                  description: "used to cancel a task"
                subtasks:
                  type: boolean
                  description: "output subtasks too"
                completed:
                  type: boolean
                  description: "Add completed tasks"
        status:
          type: object
          properties:
            tasks:
              type: array
              items:
                type: object
                properties:
                  uuid:
                    type: string
                  taskType:
                    type: string
                  taskStatus:
                    type: string
                  parentTask:
                    type: string
                  startedAt:
                    type: date-time
                  retried:
                    type: integer

      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Cluster
          type: string
          jsonPath: .spec.clusterUUID
        - name: taskType
          type: string
          jsonPath: .spec.taskType
        - name: subTasks
          type: string
          jsonPath: .spec.subtasks
        - name: completedTasks
          type: string
          jsonPath: .status.completed