apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: devices.simplyblock.com
spec:
  group: simplyblock.com
  scope: Namespaced
  names:
    plural: devices
    singular: devices
    kind: Rackup
    shortNames:
      - dev

  action: "get-status"
  versions:
    - name: 25.11.1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          spec:
            type: object
            properties:
              nodeUUID:
                type: string
                description: "UUID of the storage node`"
              includeStats:
                type: boolean
              statsHistoryInSeconds:
                type: integer
            status:
              type: object
              properties:
                devices:
                  type: array
                  items:
                    type: object
                    properties:
                      uuid:
                        type: string
                      health:
                        type: string
                      capacity:
                        type: integer
                      model:
                        type: string
                      utilization:
                        type: integer
                      status:
                        type: string
                      stats:
                        type: array
                        items:
                          type: object
                          properties:
                            wiops:
                              type: integer
                            riops:
                              type: integer
                            wtp:
                              type: integer
                            rtp:
                              type: integer
                            capacityUtil:
                              type: integer

      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Cluster
          type: string
          jsonPath: .spec.clusterUUID
        - name: targetNode
          type: string
          jsonPath: .spec.targetNode
        - name: Pool
          type: string
          jsonPath: .spec.pool
        - name: PVC
          type: string
          jsonPath: .spec.pvc
        - name: Status
          type: string
          jsonPath: .status.state
        - name: Status
          type: date-time
          jsonPath: .status.startTime