# SPDX-License-Identifier: Apache-2.0
# Copyright (c) Arm Limited and Contributors
# Copyright (c) Intel Corporation

{{- if .Values.externallyManagedSecret }}
---
apiVersion: v1
kind: Secret
metadata: 
  name: simplyblock-pvc-keys
  namespace: {{ .Release.Namespace }}
data:
  crypto_key1: {{ .Values.csiSecret.simplybkPvc.crypto_key1 }}
  crypto_key2: {{ .Values.csiSecret.simplybkPvc.crypto_key2 }}

---
apiVersion: v1
kind: Secret
metadata:
  name: simplyblock-csi-secret
  namespace: {{ .Release.Namespace }}
stringData:
  secret.json: |-
{{ toJson .Values.csiSecret | indent 4 }}

---
{{- if and .Values.csiConfig.simplybk.uuid .Values.csiConfig.simplybk.ip .Values.csiSecret.simplybk.secret }}
apiVersion: v1
kind: Secret
metadata:
  name: simplyblock-csi-secret-v2
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  secret.json: |-
    {
      "clusters": [
{{- if .Values.storagenode.multiCluster.enable }}
{{- $clusters := default (list) .Values.storagenode.multiCluster.clusters -}}
{{- range $i, $c := $clusters }}
        {{- if $i }},{{ end }}
        {
          "cluster_id": {{ required "storagenode.multiCluster.clusters[].cluster_id is required" $c.cluster_id | quote }},
          "cluster_endpoint": "{{ $.Values.csiConfig.simplybk.ip }}",
          "cluster_secret": {{ required "storagenode.multiCluster.clusters[].secret is required" $c.secret | quote }}
        }
{{- end }}
{{- else }}
        {
          "cluster_id": {{ .Values.csiConfig.simplybk.uuid | quote }},
          "cluster_endpoint": "{{ .Values.csiConfig.simplybk.ip }}",
          "cluster_secret": {{ .Values.csiSecret.simplybk.secret | quote }}
        }
{{- end }}
      ]
    }
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: simplyblock-csi-secret-v2
  namespace: {{ .Release.Namespace }}
type: Opaque
{{- end }}

{{- end }}
