---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: simplyblockpools.simplyblock.simplyblock.io
spec:
  group: simplyblock.simplyblock.io
  names:
    kind: SimplyBlockPool
    listKind: SimplyBlockPoolList
    plural: simplyblockpools
    singular: simplyblockpool
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SimplyBlockPool is the Schema for the pools API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of Pool
            properties:
              action:
                type: string
              capacityLimit:
                type: string
              clusterName:
                type: string
              name:
                type: string
              qosIOPSLimit:
                format: int32
                type: integer
              rLimit:
                format: int32
                type: integer
              rwLimit:
                format: int32
                type: integer
              status:
                type: string
              wLimit:
                format: int32
                type: integer
            required:
            - clusterName
            - name
            type: object
          status:
            description: status defines the observed state of Pool
            properties:
              qosHost:
                type: string
              qosIOPSLimit:
                format: int32
                type: integer
              rLimit:
                format: int32
                type: integer
              rwLimit:
                format: int32
                type: integer
              status:
                type: string
              uuid:
                type: string
              wLimit:
                format: int32
                type: integer
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
